@global-import 'react-datepicker/dist/react-datepicker.css';

:global div#root {
    font-family: sans-serif;
}

.app {
    border-radius: 4px;
    display: flex;
    flex-flow: row wrap;

    & > x-content {
        width: 100vw;
    }

    & input {
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-image: none;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
    }

    & button {
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        cursor: pointer;
        &[name="new"]{
            margin-top: 7px;
        }
    }

    & select {
        color: #495057;
        background-color: #fff;
        background-image: none;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .3rem;
        padding: .575rem .75rem;
    }

    & x-edit {
        & > form {
            display: flex;
            flex-direction: row;
            margin-top: 14px;
            flex-wrap: wrap;
            & input {
                width: 300px;
                margin-right: 14px;
                margin-top: 14px;
            }
            & select {
                width: 328px;
                margin-right: 14px;
                margin-top: 14px;
            }
            & > button {
                width: 325px;
                margin-right: 14px;
                margin-top: 14px;
            }
        }
    }
}
